<ion-header>

  <ion-navbar color="primary">
    <button ion-button="" menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>PQRS</ion-title>
    <ion-buttons end>
      <button ion-button="" icon-only (click)="alterFilters()">
			<ion-icon name="ios-funnel"></ion-icon>
		</button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar>
    <ion-searchbar [(ngModel)]="query"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-refresher (ionRefresh)="getTickets($event)" pullingText="Empuja para actualizar" refreshingText="Cargando...">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="this.api.tickets">
    <h3 class="title" text-center ion-text color="primary" *ngIf="this.api.tickets.length === 0">
      No tienes tickets
    </h3>
    <ion-card (click)="verTicket(ticket)" *ngFor="let ticket of filter()">
      <ion-card-content>
        <ion-card-title ion-text color="primary">
          {{ticket.titulo}}
        </ion-card-title>
        <div text-center *ngIf="ticket.image_id>0">
          <img [src]="ticket.image.url" alt="" style="height:100px;max-width:100px;margin: 0 auto;">
        </div>
        <p [innerHTML]="ticket.contenido"></p>
        <div text-left *ngIf="ticket.categoria">
          <ion-chip color="light">
            <ion-label>
              {{ticket.categoria.nombre}}
            </ion-label>
          </ion-chip>
          <ion-badge item-right [ngClass]="ticket.estado" style="float:right">
            {{ticket.estado}}
          </ion-badge>
          <p text-right>
            <ion-note>
              {{ticket.comentarios_count}} seguimiento{{ticket.comentarios_count>1?'s':''}}
            </ion-note>
          </p>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-fab bottom right>
    <button ion-fab (click)="addTicket()">
          <ion-icon name="add"></ion-icon>
        </button>
  </ion-fab>
</ion-content>
