<ion-header>

    <ion-navbar color="primary">
        <button ion-button="" menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Tickets</ion-title>
    </ion-navbar>

    <ion-toolbar>
        <ion-searchbar></ion-searchbar>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-card (click)="verTicket(ticket)" *ngFor="let ticket of api.tickets">
        <ion-card-content>
            <ion-card-title ion-text color="primary">
                {{ticket.titulo}}
            </ion-card-title>

            <p [innerHTML]="ticket.contenido"></p>
            <div text-left *ngIf="ticket.categoria">
                <ion-chip color="light">
                    <ion-label>
                        {{ticket.categoria.nombre}}
                    </ion-label>
                </ion-chip>
                <ion-badge item-right [ngClass]="ticket.estado" style="float:right">
                    {{ticket.estado}}
                </ion-badge>
            </div>
        </ion-card-content>
    </ion-card>
    <ion-fab bottom right>
        <button ion-fab (click)="addTicket()">
          <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
</ion-content>