page-home {
  .card-background-page {
    ion-card {
      position: relative;
      text-align: center;
      height: 150px;
    }
    .card-title {
      position: absolute;
      top: 80px;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: color($colors, "primary");
    }
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 110px;
      width: 100%;
      color: color($colors, "primary");
    }
    img.avatar {
      position: absolute;
      left: 40%;
      height: 70px;
      width: 70px;
      top: 1px;
      border-radius: 50%;
    }
  }
}

.ticket-card {
  border-left: 7px solid color($colors, 'secondary'); //   border-right: 7px solid color($colors, 'secondary');
}
