<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      <ion-icon name="notifications"></ion-icon> Notificaciones</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="api.user.notificaciones">
    <ion-item-sliding *ngFor="let not of api.user.notificaciones" #item>
      <button ion-item (click)="verNotificacion(not)">
             <h2 text-center>{{ not.titulo }}</h2>
             <p>{{not.mensaje}}</p>
             <p text-right>{{not.created_at}}</p>
             <ion-icon item-right color="primary" [name]="not.leido == 0 ? 'notifications' : 'ios-notifications-outline'"></ion-icon>
         </button>
      <ion-item-options side="right">
        <button ion-button (click)="leer(not, item)" *ngIf="not.leido == 0" color="favorite">
             <ion-icon name="ios-notifications-outline"></ion-icon>
             Marcar Leida
           </button>
        <button ion-button (click)="desleer(not, item)" *ngIf="not.leido == 1" color="favorite">
             <ion-icon name="ios-notifications"></ion-icon>
             Marcar No  Leida
           </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
